body {
  background-color: rgb(17, 34, 105);
  color: rgb(200, 185, 186);
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

header {
  /*position: fixed;
  top: 0;
  left: 0;*/
  text-align: center;
}

header ul {
  list-style: none;

}

header li {
  display: inline;
  padding: 20px;
}

header li:hover {
  cursor: default;
  color: white;
}

header ul a {
  text-decoration: none;

}

/* checkmark / delete */

.list-checkmark {
  position: absolute;
  color: rgb(136, 205, 115);
  cursor: default;
  float: right;
  padding: 0 20px;
  right: 20px;
}

.list-checkmark:hover {
  color: rgb(90, 247, 43);
}

.list-reactivate{
  position: absolute;
  float: right;
  right: 20px;
  padding: 0 20px;
  color: rgba(238, 212, 72, 0.83);
  cursor: default;
}

.list-reactivate:hover {
  color: rgb(246, 244, 37);
}

.list-delete {
  color: rgb(223, 142, 137);
  cursor: default;
  float: right;
  padding-right: 10px;
}

.list-delete:hover {
  color: rgb(246, 18, 18);
}



/* Toggle Classes */

.finished-hidden {
  display: none;
}
/*
.todo-hidden {
  display: none;
}

.todo-shown {
  display: block;
}

.finished-shown {
  display: block;
}*/



/* create new button */

.create-new-form {

  display: none;
}

.create-new-show:hover {
  color: white;
}

.create-new-field {
  background: rgba(143, 224, 246, 0.3);
  border: none;
  color: white;

}

.create-new-button {

  cursor: default;
}

.create-new-button:hover {
  color: white;
}

.create-new-hide {
  color: rgb(223, 142, 137);
  cursor: default;

  padding-left: 30px;
}

.create-new-hide:hover {
  color: rgb(246, 18, 18);
}
